.borClock{
	position : fixed;
	top : 35px;
	right : 35px;
	background-color : #111111;
	color : green;
	font-size : xx-large;
	padding-top : 10px;
	padding-bottom : 10px;
	padding-left: 15px;
	padding-right: 15px;
	width : 140px;
	text-align : center;
	border-radius : 10px;
	font-family: 'Orbitron', sans-serif;
}